SUPABASE_PROJECT_URL=
SUPABASE_PROJECT_KEY=

#Development
DEV_LOGGING_ENABLED=0
DEV_LOCAL_DB_PATH=
DEV_LOCAL_DB_ENABLE_LOGGING=0
DEV_LOCAL_CAMPAIGNS_DIR=
DEV_LOCAL_BALLOT_CROP_DIR=
DEV_LOCAL_PETITION_SCAN_DIR=
DEV_LOCAL_VOTER_REGISTRATION_DIR=

# Demo variables
OCR_PROVIDER_NAME=
OCR_PROVIDER_MODEL=
OCR_PROVIDER_API_KEY=

ENABLE_SUPABASE=