# Template to demonstrate .env variables available
# Make a copy of the file and rename to:
# .env.dev for development 
# env.production when deploying to a production environment
# WARNING: Do not store the .env.dev or .env.production into source control as they contain sensitive credentials.
VITE_API_URL
VITE_API_BASE_URL=http://localhost:8080/api
DEMO_MODE

# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
